* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.contact-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;

}

.form-group input,
.form-group textarea {
    border: none;
    border-bottom: 1px solid #33333388;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    outline: none;
    background: transparent;
    margin-bottom: 1em;
        &:focus {
        border-color: orange;
        }
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 14px;
    pointer-events: none;
    transition: all 0.2s ease;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: #333;
}

.form-group .helper {
    opacity: 0.5;
    font-size: 12px;
    padding: 0 2em 0;
    line-height: 1;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #333;
}

textarea {
    resize: none;
    padding-top: 10px;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #ccc;
}
