div {
    width: 300px;
    padding: 20px;
    border: 5px solid #333;
    margin-bottom: 20px;
    background: #eee;
    height: 100px;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}