.flex-container {
  width: 400px;
  padding: 1em;
  border: 2px solid blue;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-container .flex-item {
  background: #eee;
  padding: 20px;
  border: 2px solid #000;
}

.gap-row {
  gap: 2em 0;
}

.gap-column {
  gap: 0 2em;
}

.gap {
  gap: 2em;
}