a {
    text-decoration: none;
}
h2 {
    font-size: 1.2rem;
}

.button {
    background: rgb(190, 190, 190);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 10px 5px;
    display: inline-block;
    font-size: 0.7rem;
    border: 1px solid rgb(190, 190, 190)
}

.button:first-of-type {
    margin-left: 0;
}

.primary {
    background: orange;

}

.secondary {
    background: yellow;
}

.outline {
    background: white;
}